<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AT&T WebRTC</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<style>
	.top-buffer { margin-top:20px; }
</style>
  
  
<body>
    <div class="container-fluid">
	<div class="row top-buffer" >
		<div class="col-md-12">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					 
					<label for="yourSessID" class="col-sm-2 control-label">
						Your Session
					</label>
					<div class="col-sm-10">
						<input type="string" class="form-control" id="loginSessionResult">
					</div>
				</div>
				<div class="form-group">
					 
					<label for="yourSessID" class="col-sm-2 control-label">
						Call To
					</label>
					<div class="col-sm-10">
						<input type="string" class="form-control" id="callToInput">
					</div>
				</div>
			</form>
			
			<div align="center" class="embed-responsive embed-responsive-16by9">
				<video id="localV" class="embed-responsive-item"></video>
				<video id="remoteV" class="embed-responsive-item"></video>
				<audio id="localA" style="display:none"></audio>
				<audio id="remoteA" style="display:none"></audio>
			</div>

			<div class="row top-buffer" >
				
				    <div class="col-xs-3"><image src='/MakeAudio.png' onclick="makeCall('audio', 'localA', 'remoteA')" type="button" id="makeACallButton"></image></div>
					
			        <div class="col-xs-3"><image src='/MakeVideo.png' onclick="makeCall('video', 'localA', 'remoteA')" type="button" id="makeVCallButton"></image></div>
										
			        <div class="col-xs-3"><image src='/RejectCall.png' onclick="rejectCall()" type="button" id="rejectCallButton"></image></div>
					
			        <div class="col-xs-3"><image src='/EndCall.png' onclick="hangUpCall()" type="button" id="hangupCallButton"></image></div>
					
					<div class="col-xs-3">AudioCall</div>
					                   
					<div class="col-xs-3">VideoCall</div>
					                   
					<div class="col-xs-3" >RejectCall</div>
					                   
					<div class="col-xs-3" >HangupCall</div>
					
			</div>
			
			<div class="row top-buffer">
				<div class="col-sm-4" align="center">
					<a  class="btn btn-primary btn-sm" onclick="answerCall('audio', 'localA', 'remoteA')" type="button" id="answerACallButton">Answer Audio Call</a>
					<a  class="btn btn-primary btn-sm" onclick="answerCall('video', 'localA', 'remoteA')" type="button" id="answerVCallButton">Answer Video Call</a> 
				</div>
			</div>
			
			<div class="row top-buffer" align="center">
				<a class="btn btn-block btn-primary" onClick="onLoginClick()" type="button" id="loginButton">Login</a>
				<a class="btn btn-block btn-primary" onClick="logout()" type="button" id="logoutButton">Logout</a>
			</div>
		</div>
	</div>
</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>

<!-- JavaScript will go here -->

<script type ="text/javascript" src="/js/ewebrtc-sdk.min.js"></script>
<script type="text/javascript">

var phone, E911_AddressID, Final_Token, accessToken, e911Data, tokenScope, myDHS, myDHSURL = 'https://45.33.29.206:9001';
var randNo = <%- JSON.stringify(randNo) %>;

//Get DHS Configuration Information
var xhrConfig = new XMLHttpRequest();
xhrConfig.open('GET', myDHSURL + "/config/");
xhrConfig.onreadystatechange = function() {
    if (xhrConfig.readyState == 4) {
        if (xhrConfig.status == 200) {
            console.log(xhrConfig.responseText);
            myDHS = JSON.parse(xhrConfig.responseText);
            createPhoneObject();
        } else {
            console.log(xhrConfig.responseText);
        }
    }
}
xhrConfig.send();

function createPhoneObject() {
    phone = ATT.rtc.Phone.getPhone();
    registerEvents();
	
    loginButton.hidden = false;
}

function registerEvents() {
    phone.on('error', onError);
    phone.on('session:ready', onSessionReady);
    phone.on('session:disconnected', onSessionDisconnected);
	phone.on('call:incoming', onIncomingCall);
    phone.on('call:connected', onConnectedCall);
	phone.on('call:disconnected', onDisconnectedCall);
    phone.on('call:rejected', onRejectedCall);
}

function onError(data) {
    console.log(data.error);
    loginButton.disabled = true;
    errorMessage.hidden = false;
}

function onSessionReady(data) {
    loginButton.disabled = true;
    logoutButton.hidden = false;
    loginSessionResult.value = "Session ID ".concat(data.sessionId);
	callToInput.hidden = false;
    makeACallButton.hidden = false;
	makeVCallButton.hidden = false;
}

function onSessionDisconnected() {
    logoutButton.hidden = true;
    window.location ="step10-login-advanced.html";
	callToInput.hidden = true;
    makeACallButton.hidden = true;
	makeVCallButton.hidden = true;
}

function onIncomingCall () {
    makeACallButton.hidden = true;
	makeVCallButton.hidden = true;
    answerACallButton.hidden = false;
	answerVCallButton.hidden = false;
	rejectCallButton.hidden = false;
}

function onConnectedCall () {
    callToInput.value = "" ;
    makeACallButton.hidden = true;
	makeVCallButton.hidden = true; 
    answerACallButton.hidden = true;
	answerVCallButton.hidden = true;
	hangupCallButton.hidden = false;
    rejectCallButton.hidden = true;
}

function makeCall(callType, localEle, remoteEle) {
    phone.dial({
       destination: phone.cleanPhoneNumber(callToInput.value),
       mediaType: callType,
       localMedia: document.getElementById(localEle),
       remoteMedia: document.getElementById(remoteEle)
    });
}
 
function answerCall(callType, localEle, remoteEle) {
    phone.answer({
	   mediaType: callType,
       localMedia: document.getElementById(localEle),
       remoteMedia: document.getElementById(remoteEle)
    });
}  

function onDisconnectedCall () {
    makeACallButton.hidden = false;
	makeVCallButton.hidden = false;
    rejectCallButton.hidden = true;
    answerACallButton.hidden = true;
	answerVCallButton.hidden = true; 
    hangupCallButton.hidden = true;
}        
 
function onRejectedCall () {
    makeACallButton.hidden = false;
	makeVCallButton.hidden = false;
    rejectCallButton.hidden = true;
    answerACallButton.hidden = true;
	answerVCallButton.hidden = true;
}        
            
function hangUpCall() {
    phone.hangup ();
}
    
function rejectCall() {
    phone.reject ();
}


function one911AccessTokenClick() {
    
    tokenScope = "E911";
    return createAccessToken();
}

function onE911IdClick(E911_Token) {
   
    return createE911Id (E911_Token) ;
}

function createUserAccessTokenClick() {
   
    tokenScope = "VIRTUAL_NUMBER";
    return createAccessToken();
}

function associateUserAccessTokenClick(userToken) {
   
    associateAccessToken(userToken);
}

function onLoginClick() {

        var E911_Token = one911AccessTokenClick();  
       
}

function createAccessToken() {
    var xhrToken = new XMLHttpRequest();
    xhrToken.open('POST', myDHS.app_tokens_url);
    xhrToken.setRequestHeader("Content-Type", "application/json");
    xhrToken.onreadystatechange = function() {
        if (xhrToken.readyState == 4) {
            if (xhrToken.status == 200) {
                console.log(xhrToken.responseText);
                accessToken = (JSON.parse(xhrToken.responseText));
                if (tokenScope == "E911") {
					console.log(' TOKEN SCOPE : ' + tokenScope);
					console.log(' GENERATED TOKEN : ' + accessToken.access_token); 					
					onE911IdClick(accessToken.access_token);
					
                } else {
                   
                    if (tokenScope != "MOBILE_NUMBER") {
    
						console.log(' TOKEN SCOPE : ' + tokenScope);
						console.log(' GENERATED TOKEN : ' + accessToken.access_token); 
						Final_Token = accessToken.access_token; 
						associateUserAccessTokenClick(Final_Token);
						
                    } else {
  
                    }
                }

            } else {
                console.log(xhrToken.responseText);
            }
        }
    }
    xhrToken.send(JSON.stringify({app_scope: tokenScope, auth_code: ''}));
}

function createE911Id(E911_Token) {
    var xhrE911 = new XMLHttpRequest();
	console.log(' PASSED E911 ACCESS TOKEN : ' + E911_Token);    
	xhrE911.open('POST', myDHS.app_e911ids_url);
    xhrE911.setRequestHeader("Content-Type", "application/json");
    xhrE911.onreadystatechange = function() {
        if (xhrE911.readyState == 4) {
            if (xhrE911.status == 200) {
                console.log(xhrE911.responseText);
                e911Data = (JSON.parse(xhrE911.responseText));

				console.log(' E911 ADDRESS IDENTIFIER : ' + e911Data.e911Locations.addressIdentifier);
				E911_AddressID = e911Data.e911Locations.addressIdentifier; 
				
				createUserAccessTokenClick();
				
                return e911Data.e911Locations.addressIdentifier;
            } else {
                console.log(xhrE911.responseText);
            }
        }
    }
    xhrE911.send(JSON.stringify({
        token: E911_Token,
        address: {
                    first_name: 'ATT',
                    last_name: 'Inc',
                    house_number: '16221',
                    street: 'NE 72nd Way',
                    unit: '',
                    city: 'Redmond',
                    state: 'WA',
                    zip: '98052'
        },
        is_confirmed: 'true'
    }));
}

function associateAccessToken(userToken) {
    phone.associateAccessToken({
        userId: randNo,
        token: userToken,
        success:    function () {

						alert(' ASSOCIATED TOKEN ');
						login(Final_Token, E911_AddressID); 
        },
        error: onError
        })
}

function login(Token, AddressID) {
    phone.login({token: Token, e911Id: AddressID});
}

function logout() {
    phone.logout();
}

</script>

</body>
</html>
