<!DOCTYPE html>
<html>
<head>
<script>
//<meta name="apple-mobile-web-app-capable"/>
</script>
<script>
function windowlctn(){
window.location = 'djivideo://?abcd'
}
function iframeex(){
var frame = document.createElement('iframe');
//frame.src = 'djivideo://?abcd';
frame.src = 'www.goole.com';
//frame.style.display = 'none';
document.body.appendChild(frame);
}
</script>
</head>

<body>

<br>
<button onclick="windowlctn()" name= "Click here for window.location method"/> Click
<br>
<button onclick="iframeex()" name=" Click here for iframe method" />Click
<br>
<br>
<br>
</body>
</html>
